<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Student</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%- include layout/header %>
</head>

  <body>

    <div class="container">
      <h3>Input New Student</h3>

      <form action="/students/add" method="post">
        <span><%= err %> </span>
        <br>
        <div class="form-group">
          <label>First Name : </label>
          <input class="form-control" type="text" name="first_name" value="">
        </div>
        <div class="form-group">
          <label>Last Name : </label>
          <input class="form-control" type="text" name="last_name" value="">
        </div>
        <div class="form-group">
          <label>Email : </label>
          <input class="form-control" type="text" name="email" value="">
        </div>
        <div class="form-group">
          <label>Jurusan : </label>
          <input class="form-control" type="text" name="jurusan" value="">
        </div>
          <br>
        <button type="submit" name="" class="btn btn-default">Add New Student</button>
      </form>
    </div>
  </body>

</html>
